﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - WebShop</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	@{
		var typeStorage = 0;
		if (HttpContext.Current.Session["typeStorage"] != null)
		{
			typeStorage =(int) HttpContext.Current.Session["typeStorage"];
		}
	}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				@Html.ActionLink("WebShop", "Index", "Products", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Products", "Index", "Products")</li>

				</ul>
				<form action="/Products/Index" method="get" id="formChangeStorage" >
					<ul class="nav navbar-nav navbar-right">

						<li><a>Type data storage</a></li>
						<li style="padding-top:15px;padding-bottom:15px">
							@Html.DropDownList("typeStorage", new List<SelectListItem>()
																{new SelectListItem(){ Text= "Persistent storage", Value = "0"},
																new SelectListItem(){ Text= "Memory storage", Value = "1"} });
							
						</li>

					</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - WebShop</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">

	$("#typeStorage").change(function () {		
		$("#formChangeStorage").submit();
	});
</script>
